.plugin_questionnaire {

    .question {
        margin-bottom: 1.5em;

        label {
            display: block;
            margin-bottom: 0.5em;
            margin-left: 1em;
        }

        textarea {
            width: 90%;
            height: 5em;
            margin-bottom: 0.5em;
            margin-left: 1em;
        }
    }

    button, .button {
        height: 2rem;
        display: inline-flex;
        margin: 1em;
        padding: 0 1em;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
}
